<%= content_for :page_css do %>
  <%= stylesheet_link_tag "default" %>
<% end %>

<title>Feedback</title>

<body>

  <div class="white">
    <h2>Feedback</h2>
  </div>
		
  <div class="colored">
    <p>Thank you for participating in this experiment.</p>
    <p>What were you thinking about while you were performing the tasks? We
    are interested in your answer! Please give us some brief feedback in the
    space below.</p>

    <!--ARE THERE OTHER QUESTIONS THAT I WANT TO ASK HERE?-->
    <!--TALK WITH REBECCA FIEBRINK IN COMPUTER SCIENCE-->

    <%= form_tag("/hitl_task/thanks", :id => "params", :method => "post") do %>
      <p>
        <textarea name="feedback" rows="5" cols="80" maxlength="5000"></textarea>
        <input type="hidden" name="subject" value='<%= @subject %>' />
        <input type="hidden" name="auth_code" value='<%= @auth_code %>' />
        <input type="submit" name="done" value="Submit Feedback" />
      </p>
    <% end %>
  </div>

</body>
