<%= content_for :page_css do %>
  <%= stylesheet_link_tag "hitl_task" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "hitl_task" %>
<% end %>

<div id="container" class="center">

  <%= render :partial => 'ipc_status' %> <!--throws error if IPC is not running-->

  <%= form_for @waypoint, :remote => true do |f| %>
    <%= f.text_field :id %> <!--robot id = 0 (no need to do so explicitly because 0 is default)-->
  <% end %>

  <div id="header">
    <h2>Robot Control Panel</h2>
    <font color="#FFFF00">Yellow</font>: Position, <font color="#FF0000">Red</font>: Waypoint
    <br />
    <br />
    <form name="rewardForm" method="post">
      You just earned <%= @reward %=> points
    </form>
  </div>

  <div id="tankContainer" class="center">
    <div id="tank">
      <div id="crosshair" class="unselectable"></div>
      <div id="waypoint" class="unselectable"></div>
      <div id="Beluga" class="unselectable"></div>
    </div>
  </div>

  <%= form_tag("/hitl_task/feedback", :method => "post") do %>
    <input type="hidden" name="state" value="training" />
    <input type="hidden" name="auth_code" value='<%= @auth_code %>' />
    <input type="hidden" name="subject" value='<%= @subject %>' />
    <input type="hidden" name="block" value='<%= @block %>' />
    <input type="hidden" name="timingOrder" value='<%= @timingOrder %>' />
    <input type="hidden" name="surfaceOrder" value='<%= @surfaceOrder %>' />
  <% end %>

</div>
