<%= content_for :page_css do %>
  <%= stylesheet_link_tag "hitl" %>
  <%= stylesheet_link_tag "zebra_dialog" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "hitl_task_infmodel" %>
  <%= javascript_include_tag "common" %>
  <%= javascript_include_tag "zebra_dialog" %>
  <%= javascript_include_tag "sylvester" %>
  <%= javascript_include_tag "raphael" %>
  <%= javascript_include_tag "g.raphael" %>
  <%= javascript_include_tag "g.dot" %>
<% end %>

<title>Task</title>

<%= render :partial => 'ipc_status' %>  <!--throws error if IPC is not running-->

<%= form_for(@waypoint, :remote => true) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :x %>
  <%= f.hidden_field :y %>
  <%= f.hidden_field :z %>
<% end %>

<%= form_for(@param, :remote => true) do |f| %>
  <%= f.hidden_field :string %>
<% end %>

<%= form_tag("/hitl_task/feedback", :id => "done", :method => "post") do %>
  <input type="hidden" name="subject" value='<%= @subject %>' />
  <input type="hidden" name="surface" value='<%= @surface %>' />
<% end %>

<body>

  <div id="header">
    <h2>Robot Control Panel</h2>
    <font color="#FFFF00">Yellow</font>: Position, <font color="#FF0000">Red</font>: Waypoint
    <br />
    <br />
    <br />
    <form method="post">
      <big><b>REWARD</b> =</big> <input type="text" name="reward" value="" readonly="readonly" />
    </form>
  </div>

  <table class="center" cellspacing="75">
    <tr>
      <td class="center">
        <div id="tankContainer">
          <div id="tank">
            <div id="crosshair" class="unselectable"></div>
            <div id="waypoint" class="unselectable"></div>
            <div id="Beluga" class="unselectable"></div>
          </div>
        </div>
      </td>

      <td class="center">
        <h3>Reward Map</h3>
        <font color="#B40404">LARGE</font>: likely greater reward
        <br />
        <br />
        <div id="RMContainer">
          <div id="RM"></div>
        </div>
      </td>
    </tr>
  </table>

</body>
