<%= content_for :page_css do %>
  <%= stylesheet_link_tag "hitl" %>
  <%= stylesheet_link_tag "zebra_dialog" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "hitl_tutorial" %>
  <%= javascript_include_tag "zebra_dialog" %>
<% end %>

<title>Training</title>

<%= render :partial => 'ipc_status' %>  <!--throws error if IPC is not running-->

<%= form_for(@waypoint, :remote => true) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :x %>
  <%= f.hidden_field :y %>
  <%= f.hidden_field :z %>
<% end %>

<%= form_tag("/hitl_task/task", :id => "done", :method => "post") do %>
  <input type="hidden" name="subject" value='<%= @subject %>' />
<% end %>

<body>

  <div id="header">
    <h2>Robot Control Panel</h2>
    <font color="#FFFF00">Yellow</font>: Position, <font color="#FF0000">Red</font>: Waypoint
    <br />
    <br />
    <br />
    <form method="post">
      <big><b>REWARD</b> =</big> <input type="text" name="reward" value="" readonly="readonly" />
    </form>
    <br />
    <br />
    <br />
  </div>

  <div id="tankContainer" class="center">
    <div id="tank">
      <div id="crosshair" class="unselectable"></div>
      <div id="waypoint" class="unselectable"></div>
      <div id="Beluga" class="unselectable"></div>
    </div>
  </div>

</body>
